<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SPOFConnectionString"
			 connectionString="Server=31.147.206.65;Database=RWA2425_inavialic22_DB;User Id=RWA2425_inavialic22_User;Password=X1K:2el1;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>